.container {
    display: flex;
    flex-direction: column;
    grid-area: chat;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background: var(--foreground-1-color);
    overflow: hidden;
}

.header {
    margin: 16px auto;
    width: 80%;
    border-bottom: 1px solid var(--border-color);
}

.logo {
    float: left;
    margin-right: 24px;
}

.title {
    font-weight: 400;
    color: var(--text-color-secondary);
    font-size: 16px;
}
.title b {
    color: white;
}
