.container {
    display: flex;
    border-radius: 12px;
    background: var(--foreground-1-color);
    grid-area: player;
    border: 1px solid var(--border-color);
    height: 72px;
    margin-left: auto;
    gap: 12px;
    padding-left: 16px;
    overflow: hidden;
}

.content {
    display: flex;
    gap: 8px;
    align-items: center;
}

.title {
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 16px;
    background: #164a6d;
}
