.container {
    display: grid;
    grid-template:
        "header player" auto
        "chat rendering" 1fr
        "chat footer" auto
        / 400px 1fr;
    grid-gap: 16px;
    padding: 16px;
    flex: 1;
    overflow: auto;
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .container {
        grid-template:
            "header header" auto
            "player player" auto
            "chat rendering" 1fr
            "chat footer" auto
            / 400px 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        grid-template:
            "header" auto
            "player" auto
            "rendering" 600px
            "chat" 800px
            "footer"
            / 1fr;
    }
}
