.container {
    display: grid;
    grid-template:
        "header player" auto
        "chat rendering" 1fr
        "chat footer" auto
        / 400px 1fr;
    grid-gap: 16px;
    padding: 16px;
    flex: 1;
    overflow: auto;
}
