.audio {
    min-width: 360px;
}

::-webkit-media-controls-panel {
    background: var(--background-color);
    border: none;
    outline: none;
    box-shadow: none;
}

@media screen and (max-width: 1000px) {
    .audio {
        min-width: unset;
        width: 100%;
    }
}
