.iframe {
    margin: 0;
    border: none;
    flex: 1;
    border-radius: 12px;
    pointer-events: none;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 16px;
    grid-area: rendering;
    background: var(--foreground-1-color);
    gap: 12px;
    position: relative;
}

.toolbar {
    display: flex;
    gap: 12px;
}

.actionGroup {
    display: flex;
}
.actionGroup > button:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.actionGroup > button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.actionRight {
    margin-left: auto;
}

.codeWidget {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100% - 64px);
    top: 64px;
    left: 0;
    background: var(--foreground-2-color);
    border-radius: 12px;
    padding: 16px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: auto;
}
