.iframe {
    margin: 0;
    border: none;
    flex: 1;
    border-radius: 12px;
    pointer-events: none;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 16px;
    grid-area: rendering;
    background: var(--foreground-1-color);
    gap: 12px;
}

.content {
    display: flex;
    flex: 1;
    position: relative;
}

.toolbar {
    display: flex;
    gap: 12px;
}

.actionGroup {
    display: flex;
}
.actionGroup > button:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.actionGroup > button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.actionRight {
    margin-left: auto;
}

@media screen and (max-width: 1000px) {
    .toolbar {
        flex-direction: column;
    }
    .actionRight {
        margin: 0;
    }
    .actionGroup {
        width: 100%;
    }
    .actionGroup > * {
        flex: 1;
    }
}
