.pickText {
    color: var(--text-color-secondary);
}

.availableSong {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.fileInput {
    width: 0;
    height: 0;
    visibility: hidden;
}

.samples {
    display: flex;
    gap: 6px;
}

@media screen and (max-width: 1300px) {
    .action span,
    .availableSong span {
        display: none;
    }

    .availableSong,
    .action {
        min-height: 36px;
        min-width: 36px;
        padding: 0 !important;
    }
}
