.pickText {
    color: var(--text-color-secondary);
}

.availableSong {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.fileInput {
    width: 0;
    height: 0;
    visibility: hidden;
}

.uploadFileButton {
}
